* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background: #fff;
}

body {
  width: 375px;
  margin: auto;
  background-image: url(../img/fond-page-acceuil.jpg);
}

header {
  background-color: #d2e8f8;
  padding: 32px;
  box-shadow: 0px 5px 5px #00000033;
  margin-bottom: 70px;
}

header img {
  padding-bottom: 10px;
}

header a {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  border-radius: 60px;
  padding: 5px;
  font-size: 22px;
  width: 45%;
  text-align: center;
  margin: 10px 0 5px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.introduction {
  background-color: #d2e8f8a3;
  margin: 32px;
  padding: 32px;
  border-radius: 15px;
  font-size: 22px;
  text-align: center;
  box-shadow: 5px 5px 5px #00000033;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.revendeurs {
  background-color: #d2e8f8a3;
  margin: 32px;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #00000033;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.presentation-produit {
  background-color: #d2e8f8a3;
  margin: 32px;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #00000033;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.presentation-produit a {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  border-radius: 20px;
  padding: 5px;
  font-size: 22px;
  width: 45%;
  text-align: center;
  margin: 10px 0 5px 0;
}

.mockup-acceuil {
  box-shadow: 5px 5px 5px #00000033;
  max-width: 245px;
  border-radius: 10px;
}

.logo-amber-vintage {
  padding-bottom: 40px;
  max-width: 245px;
}

a:hover {
  background-color: black;
  color: #d2e8f8;
}

.buttons-year {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 40px;
}

.fleche {
  max-width: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.revendeurs {
  padding-top: 30px;
  margin-top: 100px;
  margin-bottom: 70px;
}

.revendeurs h2 {
  text-align: center;
}

.texte-defile {
  background-color: #d2e8f86b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  overflow: hidden;
  position: relative;
}

.defile {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  white-space: nowrap;
  animation-name: defiling-left;
  transform: translateX(0%);
  color: #00000024;
}

@keyframes defiling-left {
  0% {
    transform: translateX(0%);
  }
  
  100% {
    transform: translateX(-126%);
  }
}

footer {
  background-color: #d2e8f8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

.boutons-contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer a {
  text-decoration: none;
  color: black;
  border: solid 1px black;
  border-radius: 20px;
  padding: 5px;
  font-size: 22px;
  width: 45%;
  text-align: center;
  margin: 10px 0 5px 0;
}

footer p {
  font-size: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 40px;
}